body{
    background-color: #696969;
    color: white;
    
}
input{
    background-color: #363636 ;
}
button{
    background-color: #42a2f0;
}
div{
    margin: 0 ;
    border-radius: 15px;
}
a{
    text-decoration: none;
    color: rgb(0, 11, 59);
}
#paneldointerakcji img{
    width: 100%;
    height: 50%;
    border-radius: 15px;
}


.pizza_container img {
    width: 100%;
    height: 50%;
}
.divyprzyrejestracji{
    background-color: rgb(75, 224, 187);
    border-radius: 15px;
}
.divyprzyrejestracji input{
    width: 100%;
}