body{
    background-color: #535663;
    color: white ;
    padding-top: 55px;
        
    
}
input{
    background-color: #464444 ;
    border: none;
    border-radius: 10px;
    color: white;
    margin: 2px;
    width: 200px;
}
input[type=submit]{
    background-color: #0069ed;
    width: auto;
}
input[type=text],input[type=date]{
    height: 35px;
    
}
input[type=checkbox]{
    width: auto;
}
input[type=password]{
    background-color: #282846 ;
}
input[type=email]{
    background-color: #28463c ;
}
::placeholder{
    color: whitesmoke;
    opacity: 0.4;
}
#mainmenu{
    text-align: center;
}
/* button{
    background-color: #42a2f0;
} */
div{
    margin: 0 ;
    border-radius: 15px;
}
a{
    text-decoration: none;
    color: rgb(0, 11, 59);
}
#paneldointerakcji img{
    width: 100%;
    height: 50%;
    border-radius: 15px;
}
#paneldointerakcji{
    overflow: scroll;
}
.pizza_container{
    /* background-color: rgb(54, 143, 42); */
    padding:3px;
    /* border: 1px solid black; */
    /* margin: 2px; */
}

.pizza_container img {
    width: 100%;
    height: 50%;
    border-radius: 15px;
}
.divyprzyrejestracji{
    background-color: rgba(75, 224, 187, 0.72);
    border-radius: 15px;
    text-align: center;
}
.divyprzyrejestracji input{
    width: 100%;
}
#paneldointerakcji{
    padding-left: 0px ;
    padding-right: 0px;
    
}
#paneldointerakcjikoszyk{
    width: 100%;
    height: 100%;
    overflow: scroll;
    
    
}

/* scrollbar   */
::-webkit-scrollbar {
    /* width: 20px; */
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 2px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }
  /* koniec scrollbara */

  
/* slider */
#showcase {
    margin: 0 20px;
    text-align: center;
}
/* #range {
    height: 300px;
    margin: 0 auto 30px;
} */

#range {
	/* height: 15px; */
}
/* slider */


#diviloscwynikow{
    background-color: #636262;
    text-align: center;
}
.imabeautifulldiv{
    background-color: hsla(207, 85%, 60%, 0.987);
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
    /* width: 100%; */
    /* align-content: center;
    align-items: center; */
}
.zawartosc{
    background-color: rgb(21, 202, 109);
    margin:5px auto;
    width: 100%;
    display: none;
}
#paneldointerakcjiadmin .zawartosc{
    background-color:rgb(21, 202, 109);
    margin:5px auto;
    width: 100%;
    display: block;
    
    
}
#paneldointerakcjiadmin{
    overflow: scroll;
    padding:0 0 0 0px;
}
#koszykprzedstawienie{
    line-height: 50px;
    text-align: center;
    font-size: large;
    background-color: rgb(30, 220, 169);
    border-radius: 5px;
    height: 50px;
    color: white;
    /* unselectable */
    -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
 /* unselectable */
}
#dawnezamowienia{
    line-height: 50px;
    text-align: center;
    font-size: large;
    background-color: rgb(0, 53, 228);
    
    border-radius: 5px;
    height: 50px;
    color: white;
    -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}
.zawartosc img {
    /* width: 40% !important; */
    /* display: block; */
    display: block;
    max-width: 50%;
    float: left;
    border-radius: 15px;
    

}
.zawartosc span {
    display: block;
    float: left;

}
.zawartosc #opisobokzdjeciawkoszyku{
    
    /* display: block; */
}
.text-muted{
    color: white!important;
}
#panelDointerakcjikrzyzykdozamykania{
    position: fixed;
    top:55px;
    right: 10px;
    z-index:102;
    font-size: x-large;
    /* background-color: red; */
    color: black;
    /* width:100%;
    height: 100%; */
    
}

/* stylizowanie przyciskow */
button {
    display: inline-block;
    border: none;
    min-width: 50px;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 15px;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}
button:disabled{
    background-color: rgb(160, 201, 255);
}
#starezam{
    display: none;
    background-color: #004ddd;
}
#nowezam{
    background-color: #00ffc8;
}
#usunzamowieniebtn{
    float: right;
}
.width-buttons{
    
    width: 40%;
    margin-left: 8%;
}
#koszykshowbtn{
    height: 40px  ;
    background-color: none;
}
.errorbox{
    background-color: rgba(255, 0, 0, 0.741);
    text-align: center;
    font-size: large;
}
.messegebox{
    background-color: rgb(9, 187, 15);
    text-align: center;
    font-size: large;
}
.divsumacenadminwybrane{
    text-align: center;
    background-color:#383a43 ;
}
#opiszawartoscizamowieniawadminpanelu{
    text-align: center;
    background-color: crimson;
    color: white;
}
#zamowieniehistorycznewadminpanelu{
    text-align: center;
    background-color: darkblue;
    color: white;
}
#adresdostawyzamowieniawadminpanelu{
    text-align: center;
    background-color: rgb(159, 33, 201);
    color: white;
}